<div class="pb-2">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row align-items-center">
                <input type="text" class="form-control form-control-lg" placeholder="Adicionar nova..." />
                <div>
                    <button type="button" class="btn btn-primary"><span class="oi oi-plus" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="my-4">
@code {

}
