<div class="page p-4">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body py-4 px-4 px-md-5">
                    <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                        <span class="oi oi-circle-check" aria-hidden="true"></span>
                        <u>My Todo-s</u>
                    </p>
                    <InsertToDo></InsertToDo>
                    <ToDo></ToDo>
                    <ToDo></ToDo>
                    <ToDo></ToDo>
                    <ToDo></ToDo>
                    <ToDo></ToDo>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
