@inject HttpClient Http
<div class="page p-4">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body py-4 px-4 px-md-5">
                    <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                        <span class="oi oi-circle-check" aria-hidden="true"></span>
                        <u>My Todo-s</u>
                    </p>
                    <InsertToDo></InsertToDo>
                    @if (tarefas==null){
                        <p><em>Carregando...</em></p>
                    }
                    else{
                        @foreach (var tarefa in tarefas)
                        {
                            <ToDo tarefa="@tarefa"></ToDo>
                        }                        
                    }                        
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public string baseAPIuri = "http://localhost:5109";
    protected Tarefa[]? tarefas;
    protected override async Task OnInitializedAsync()
    {
        tarefas = await Http.GetFromJsonAsync<Tarefa[]>($"{baseAPIuri}/api/v1/tarefas");
    }

    public class Tarefa
    {
        public string Id { get; set; }
        public string Descricao { get; set; }
        public DateTime DataCriacao { get; set; }
        public bool Concluido { get; set; }
    }
}
