
<ul class="list-group list-group-horizontal rounded-0 bg-transparent">
    <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
        <div class="form-check">
            @if (tarefa.Concluido)
            {
                <input type="checkbox" class="form-check-input me-0" checked/>
            }
            else
            {
                <input type="checkbox" class="form-check-input me-0" />
            }            
        </div>
    </li>
    <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
        <p class="lead fw-normal mb-0">@tarefa.Descricao</p>
    </li>
    <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
        <div class="d-flex flex-row justify-content-end mb-1">
            <a href="#!" class="text-info" aria-label="Edit"><span class="oi oi-pencil me-3" aria-hidden="true"></span></a>
            <a href="#!" class="text-danger" aria-label="Delete" @onclick="DeleteTarefa"><span class="oi oi-trash" aria-hidden="true"></span></a>
        </div>
        <div class="text-end text-muted">
            <p class="text-muted small mb-0">
                <span class="oi oi-info" aria-hidden="true"></span> @tarefa.DataCriacao
            </p>
        </div>
    </li>
</ul>

@code {
    [Parameter]
    public Main.Tarefa tarefa { get; set; }

    private async Task DeleteTarefa()
    {
        
    }
}
