# Visual Studio files
*.suo
*.user
*.sln.docstates
*.sln.cache
*.suo
*.user
*.vbw
*.ncb
*.scc
*.vspscc
*.vssscc
*.psess
*.chk
*.bak
*.pdb
*.cache
*.ilk
*.log
*.obj
*.exe
*.dll
*.deploy
*.manifest
*.res
*.resources
*.pch
*.tlb
*.tlh
*.tmp
*.log
*.lib
*.idb
*.aps
*.clw
*.odl
*.dsw
*.dsp
*.ncb
*.opt
*.plg
*.bsc
*.sbr
*.map
*.aps
*.apsx
*.asmx
*.aspx
*.axd
*.browser
*.cd
*.compiled
*.config
*.csproj
*.csproj.user
*.csproj.webinfo
*.dll.config
*.disco
*.dsdgm
*.dtsx
*.dtsConfig
*.exe.config
*.generated.cs
*.generated.vb
*.hdf
*.ldd
*.ldd.bat
*.ldd.xml
*.licx
*.lref
*.map
*.mdf
*.mdf.lck
*.mdf_log
*.mdf_log.lck
*.metaproj
*.mexw32
*.mex64
*.mqsl
*.mqsl.user
*.mqsl.webinfo
*.ndoc
*.nupkg
*.obj
*.old
*.pdb
*.pfx
*.pkgdef
*.pkgundef
*.pssm
*.rdlc
*.rdl.data
*.rdl.layout
*.rdl.navigation
*.rptproj
*.rptproj.user
*.ruleset
*.sdm
*.sdmDocument
*.sdmDocument.user
*.sdmuser
*.sdmuser.webinfo
*.sln
*.sln.docstates
*.sln.cache
*.sln.layout
*.slnx
*.sql
*.sqlproj
*.sqlproj.user
*.ssisdeploymentmanifest
*.targets
*.testrunconfig
*.testsettings
*.trx
*.tt
*.ttinclude
*.user
*.userosscache
*.vbproj
*.vbproj.user
*.vbproj.webinfo
*.vjsproj
*.vjsproj.user
*.vjsproj.webinfo
*.vsdconfig
*.vsmdi
*.vspscc
*.vssscc
*.vstemplate
*.vsto
*.vsw
*.vsx
*.vtx
*.webinfo
*.wiq
*.wixproj
*.wixproj.user
*.xaml
*.xap
*.xoml
*.xslt
*.xss
*.xss.state
*.zip
obj/
bin/
*.db
